/* General */
body {
  padding-top: 80px;
}

.navbar{
  background-color: #174D75;
  border-bottom: 3px solid #FFA319;
}

/* Links */
.navbar .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: white;
}

/* Hover links */
.nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: silver;
}

/* Hover title */
.navbar-default .navbar-nav > li > a:hover{
    color: #174D75;
    background-color: white;
}
